<div class="topics">
        <span>热门话题</span>
        <ul>
            <li><a href="#">如何评论电影《后来的我们》？</a></li>
            <li><a href="#">如何评价《复仇者联盟3》？</a></li>
            <li><a href="#">如何评价电影《红海行动》？</a></li>
            <li><a href="#">如何评价电影《寻找罗麦》？</a></li>
            <li><a href="#">如何评价电影《暴裂无声》？</a></li>
            <li><a href="#">如何评价印度电影《起跑线》？</a></li>
            <li><a href="#">如何评价电影《心迷宫》？</a></li>
            <li><a href="#">如何评价漫威电影《黑豹》（Black Panther）?</a></li>
            <li><a href="#">如何评价第 90 届奥斯卡最佳影片提名电影《三块广告牌》？</a></li>
            <li><a href="#">如何评价第 90 届奥斯卡最佳影片《水形物语》？</a></li>
            <li><a href="#">如何评价电影《环太平洋2》？</a></li>
            <li><a href="#">如何评价 2018 电影《祖宗十九代》？</a></li>
            <li><a href="#">如何评价 2018 年贺岁电影《捉妖记 2》（Monster Hunt 2）？</a></li>
        </ul>
      </div>